<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/formularios.css">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <form action="">
            <div>
                <input type="text" placeholder="Nome" id="Nome">
            </div>
            <div>
                <input type="email" placeholder="Email">
            </div>
            <div>
                <input type="password" placeholder="Senha">
            </div>
            <div>
                <button>Cadastrar</button>
            </div>    
        </form>
        <div>
            <h5>ja tem uma conta? <a href="">Clique aqui</a> </h5>
            <h2>CADASTRO</h2>
        </div>
    </div>
    
</body>
</html>